.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    h1 {
        margin-bottom: 0;
        position: relative;
    }

    .down-arrow {
        position: absolute;
        top: 90%;
    }

    & .button-container button {
        margin: 10px;
        padding: 12px 16px;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 500;
        transition-duration: .3s;

        &:hover {
            cursor: pointer;
            background-color: #333333;
            color: #D3D3D3;
            transform: scale(1.1);
        }
    }

    .title {
        font-size: 5rem;

        @for $i from 1 through 4 {
            $chld: nth-child($i);
            span:$chld {
                background-color: #678;
                animation-name: show-up;
                animation-duration: ($i)s;
            }
          }
        
    }
}
